@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);

i {
  color: #fff;
  padding: 10%;
}

body {
  font-family: "Pontano Sans";
}

h2 {
  overflow: hidden;
  cursor: pointer;
  height: 38px;
  font-weight: bolder;
  color: #fff;
  background-color: #2badd9;
}

.card {
  width: 80%;
  max-width: 750px;
  .transition(background 0.5s ease);
  .transition(max-height 0.3s ease);
  border-color: #e1e1e4;
  display: block;
  padding: 1%;
}

@media only screen and (max-width:980px) {
  .card {
    max-width: 450px;
  }
}

.card__details { 
  border: 1px solid #e1e1e4;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

@media only screen and (max-width:980px) {
  .card__details {
    float: left;
    width: 100%;
  }
}

.card__title {
  overflow: hidden;
  cursor: pointer;
  height: 38px;
  font-weight: bolder;
  color: #fff;
  background-color: #2badd9;
}

.card__title h2 {
  font-size: 1.5em;
  padding-left: 2%;
  margin: 0;
}

.card__summary {
  font-size: 0.9em;
  width: 80%;
  display: inline-block;
  float: left;
  margin-left: 2%;
  color: #666;
}

@media only screen and (max-width:980px) {
  .card__summary {
    width: 70%;
    font-size: .8em;
  }
}

@media only screen and (max-width:600px) {
  .card__summary {
    font-size: .7em;
  }
}

.btn {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  margin-top: 3%;
  float: right;
}

@media only screen and (max-width:980px) {
  .btn {
    padding: 1px 5px;
    margin: 0;
    font-size: 12px;
  }
}

.btn__watch {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: #1d2172;
  border-radius: 12px;
  font-variant: small-caps;
}